:root{
    --purple: #5E356F;
    --yellow: #C4C700;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DinPro';
    src: url("/fonts/D-DIN-PRO-400-Regular.otf");
}

@font-face {
    font-family: 'DinPro-Bold';
    src: url("/fonts/D-DIN-PRO-700-Bold.otf");
}

html{
    font-family: DinPro;
}


header, main{
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    box-sizing: border-box;
    color: var(--purple)
}


/* -------- HEADER -------- */

header{
    border-bottom: 1px solid #e2e2e2;
    min-height: 3.75em;
    width: 100%;
    margin: 0 auto;
}

.header-box{
    width: 90%;
    margin: 0 auto;
    min-height: 3.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.header-box > div{
    width: 33%;}

/* NAVIGATIE BAR */

.header-box > div > nav{
    display: none;
}

nav{
    display: inline-block;
    width: 33%;
}

.menu{
    position: relative;
    display: block;
    width: 3.5em;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.menu .bar, .menu:after, .menu:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--purple);
    margin: 6px 0px;
    transition: 0.4s;
}

.menu.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.menu.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}

.menu.is-active .bar {
    opacity: 0;
}

.mobile-nav{
    position: fixed;
    width: 96%;
    bottom: 100%;
    min-height: 30vh;
    padding: .5em 0 1em 0;
    margin-top: 5.6em;
    z-index: 2;
    border-radius: 5px;
    background-color: #9f86a6d6;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    transition: .4s;
}

.mobile-nav.is-active{
    bottom: 50%;
}

.mobile-nav > a{
    display: block;
    text-align: left;
    margin: 2em 2em 1em 2em; 
    padding: .75em 1em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: DinPro-Bold;
}

.mobile-nav > a:hover{
    background-color:  #5f3f6dc4;
    backdrop-filter: blur(70px);  
    -webkit-backdrop-filter: blur(10px);
}

.header-box > a:nth-of-type(1){
    width: 33%;
    display: flex;
    justify-content: center;

}

.header-box > a:nth-of-type(2){
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.logo{
    padding: 1em;
    min-height: 4em;
    max-height: 5em;
}

a{
    cursor: pointer;
}


/* -------- MAIN -------- */

.main-top{
    min-height: 18em;
    align-items: center;
    background-image: url("../assets/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: overlay;
    background-position: center;
}

.main-title-box{
    max-width: 14em;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

h1, h2, h3{
    letter-spacing: .1rem;
    font-family: DinPro-Bold, sans-serif;
}


/* -------- SECTION TAGS -------- */
.tag-box{
    background-color: #FCF7FD;
    /* padding-bottom: 2.5em; */
}
.tag-box-top{
    background-color: var(--purple);
    min-height: 4em;
    border-radius: 5px;
    display: block;
    align-content: center;
}

.tag-box-content{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: center;
    padding: 0 .5em 0 .5em;
    color: white;
    position: relative;
}


.tag-box-content > p{
    font-family: DinPro-Bold, sans-serif;
    font-size: 22px;
    letter-spacing: .1rem;
    /* display: inline-block;
    vertical-align: middle; */
}

.total{
    height: 1.6em;
    margin-left: .5em;
}

.tag-delete{
    font-size: 16px;
    margin: 0 1.2em 0 1.2em;
    text-decoration: underline;
}

.minus{
    padding: 1em;
    background-image: url("../assets/Minus.png");
    background-position: center;
    border-radius: 5px;
    position: absolute;
    right: 1em;
    top: 1.2em;
}

.minus:hover{
    border: 3px solid red;
}

/* TOGGLE SECTION */

.toggle-box{
    height: 24em;
    transition: .4s ease-out;
    overflow: hidden;
}

.toggle-box.collapsed {
    height: 0;
    transition: .4s ease-in;
}

.tag-box-middle{
    margin-top: 1em;
    margin-bottom: 1em;
}

.tag-box-middle > p{
    font-family: 'Literata', serif;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}


.tag-box-bottom{
    max-width: 24em;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1.5em;
}

.tag-box-bottom > button{
    padding: .4em .8em .7em .7em;
    margin: .5em .5em .5em .5em;
    font-family: 16px;
    border-radius: 15px;
    border-style: none;
    background-color: #E5E5E5;
    font-weight: light;
}
.tag-box-bottom > button:hover{
    border: 1px solid rgba(79, 27, 152, 0.421);
    transform: scale(1.1);
    box-shadow: 0 8px 13px -4px rgba(185, 182, 182, 0.559);
}

.tag-box-bottom > button:active{
    background-color: var(--yellow);
    font-weight: bold;
}

.tag-box-bottom > button:nth-of-type(2n+4){
    background-color: var(--yellow);
    font-weight: bold;
}

button > img{
    position: relative;
    top: 3px;
    right: 3px;
    padding-right: 0.2em;
}


.toggle-box > button{
    display: block;
    margin: 0 auto;
    padding: .8em 4em .8em 4em;
    border-radius: 15px;
    font-size: 18px;
    color: var(--purple);
    background-color: #fff;
    border: 1px solid #634b6d4d;
}

.toggle-box > button:hover{
    border: 1px solid rgb(79, 27, 152);
    transform: scale(1.1);
    color: rgb(79, 27, 152);
    box-shadow: 0 8px 13px -4px rgba(185, 182, 182, 0.559);
}

/* -------- SECTION TOPICAL -------- */

.topical-box{
    min-height: 30em;
    max-width: 20.5em;
    margin: 0 auto;
}
/* 
.topical-box > div{
    flex-direction: column;
    display: flex;
} */

h2{
    text-align: center;
    margin: 1.5em;
    font-size: 24px;
}

.article-box1{
    min-height: 25em;
    border-radius: 10px;
    border: 1px solid rgba(220, 220, 220, 0.633);
    box-shadow:  0px 10px 22px -12px  rgba(0,0,0,0.4);
    margin-bottom: 2em;

    /* flex-basis: 100%;
    width: 100%; */
}

.article-box1 > img{
    width: 100%;
}

.article-box1 > div{
    height: 6em;
    margin: 1em;
}


.topical-second-title{
    max-width: 14em;
    font-size: 24px;
}

.topical-subtitle{
    font-family: Literata, sans-serif;
    font-size: 16px;
    color: #86688f;
}

.topical-bottom-info{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 1em;
    color: black;
    font-family: DinPro-Bold;
    font-size: 16px;
}


/* Section Agenda */

.agenda{
    min-height: 28em;
    background-color: #F9F9E8;
    max-width: 20.6em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2em;
}

.agenda-box{
    display: inline-block;
    margin: 1em;
}

.title-agenda{
    font-size: 32px;
    margin: 0;
}

.agenda-ul{
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

.agenda-date{
    background-color: #fff;
    display: flex;
    min-height: 5em;
    margin-bottom: 1em;
}

.date-text{
    margin: 1em;
    font-family: DinPro-Bold;
}

.agenda-btn{
    min-width: 14em;
    background-color: var(--purple);
    color: #fff;
    padding: .7em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border-style: none;
    border-radius: 15px;
}

.article-box2{
    min-height: 27em;
}

.product-price{
    display: inline-block;
}

.article-box3{
    min-height: 28.5em;
}

/* FOOTER */


.footer-top{
    display: block;
    background-color: var(--purple);
    color: #fff;
    width: 100%;
    padding-bottom: 1em;
}

ul{
    list-style: none;
}

.footer-list{
    margin-top: 0;
    padding-top: 1em;
}

.footer-list > li > h3{
    font-size: 32px;
    margin: 0.3em 0 0.3em 0;
}

.footer-top > .footer-list > li > a{
    font-family: Literata, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 0.3em 0 0.3em 0;
}

.socials{
    margin-top: 1.5em;
}

/* FOOTER-BOTTOM */

.footer-bottom{
    background-color: #A68FAD;
    padding-bottom: 1em;
}

.footer-bottom > ul > li{
    margin: 0.3em 0 0.3em 0;
}

.footer-bottom > ul > li:nth-child(1){
    font-size: 24px;
    font-family: DinPro, sans-serif;
    font-weight: bolder;
}

.footer-top > .footer-list > li > a{
    font-family: Literata, sans-serif;
    font-size: 16px;
}

/* CONTAINER QUERY */
.tag-box-top{
    container-name: tagbox;
    container-type: inline-size;
}

@container tagbox (min-width: 37.5em){
    
    .tag-box-content {
        width: 60%;
        padding: 0 2em 0 2em;
    }

}


/* Small screen 480px */
@media (min-width: 30em) {
    
    .tag-box-content {
        width: 80%;
        padding: 0 2em 0 2em;
    }

    .tag-box-bottom{
        max-width: 24em;
    }

}

/* Medium screen 768px */
@media (min-width: 48em) {

    /* SECTION TAGBOX */
    .tag-box-content {
        width: 60%;
        padding: 0 2em 0 2em;
    }

    .tag-box-bottom{
        max-width: 28em;
    }

    /* SECTION TOPICAL */

    .topical-box{
        max-width: 24em;
    }

    /* .topical-box > div{
        display: flex;
        flex-wrap: nowrap;
    } */
    .article-box1 {
        min-width: 24em;
    }


    /* SECTION AGENDA */

    .agenda{
        mIN-width: 24em;
    }


    .article-box2 {
        min-height: 28.5em;
    }

}

/* Large screen 1120px */
@media (min-width: 70em) {

    h1{
        font-size: 2.5em;
    }

    .main-title-box {
        max-width: 24em;
    }
    h2{
        font-size: 2em;
        margin: 2em;
    }

    .header-box {
        width: 70%;
    }

    .header-box > div > nav{
        display: inline;
    }

    .header-box > div > nav > a{
        text-decoration: none;
        font-family: DinPro, sans-serif;
        color: var(--purple);
        padding: 0 .5em 0 .5em;
        font-size: 20px;
    }

    .mobile-nav{
        display: none;
    }

    .menu{
        display: none;
    }



    main{
        margin-bottom: 2em;
    }

    .main-top{
        min-height: 28em;
        background-size: 70%;
        background-position: center;
        background-position-y: 6em;
    }

    /* SECTION TAGBOX */


    .tag-box-middle{
        margin: 2em;
    }

    .tag-box-middle > p{
        font-size: 2em;
    }
    
    /* SECTION TOPICAL */
    .topical-box{
        max-width: 75%;
        min-height: 40em;

    }
    .topical-box > div{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 1em;
        margin: 0 auto;
        max-width: 76em;
    }

    .tag-box-content {
        width: 27%;
        padding: 0 2em 0 2em;
    }

    .tag-box-bottom{
        max-width: 35em;
        margin-bottom: 2em;
    }

    .agenda{
        max-width: 100%;
        min-height: 18em;
    }

    .title-agenda{
        padding: 1em 0 .5em 0;
        text-align: center;
    }

    .agenda-ul{
        display: flex;
        justify-content: center;
        flex-flow: row;
        max-width: none;
        gap: 3em;
    }

    .agenda-box{
        display: block;
        margin: 0 auto;
    }



    /* FOOTER */
    .footer-top {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 2em;
        max-height: 20em;
    }
    ul{
        display: flex;
        gap: 2em;
    }

    .footer-list{ 
        align-items: center;
    }

    .footer-top > .footer-list > li > h3 {
        font-size: 1.5em;
    }

    .footer-top > .footer-list > li > a {
        font-size: 16px;
    }


    .socials{
        margin: 0;
    }

    .footer-bottom{
        display: flex;
        justify-content: center;
        padding-top: 1em;
        margin: 0 auto;
        align-items: center;
    }
    

}