:root{
    --purple: #5E356F;
    --yellow: #C4C700;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DinPro';
    src: url("/fonts/D-DIN-PRO-400-Regular.otf");
}

@font-face {
    font-family: 'DinPro-Bold';
    src: url("/fonts/D-DIN-PRO-700-Bold.otf");
}

html{
    font-family: DinPro;
}


header, main{
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    box-sizing: border-box;
    color: var(--purple)
}


/* -------- HEADER -------- */

header{
    border-bottom: 1px solid #e2e2e2;
    min-height: 3.75em;
    width: 100%;
    margin: 0 auto;
}

.header-box{
    width: 90%;
    margin: 0 auto;
    min-height: 3.75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.header-box > a:nth-of-type(1){
    display: block;
    margin: 0 auto;
    justify-items: center;

}

.header-box > a:nth-of-type(2){
    position: absolute;
    top: 1.5em;
    right: -.5em;
}

.logo{
    padding: 1em;
    min-height: 4em;
    max-height: 5em;
}

a{
    cursor: pointer;
}


/* -------- MAIN -------- */

.main-top{
    min-height: 18em;
    align-items: center;
    background-image: url("../assets/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-title-box{
    max-width: 14em;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

h1, h2, h3{
    letter-spacing: .1rem;
    font-family: DinPro-Bold, sans-serif;
}


/* -------- SECTION TAGS -------- */
.tag-box{
    min-height: 30em;
    background-color: #FCF7FD;
}
.tag-box-top{
    background-color: var(--purple);
    min-height: 4em;
    border-radius: 5px;
    display: block;
    align-content: center;
}

.tag-box-content{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: center;
    padding: 0 1em 0 1em;
    color: white;
    position: relative;
}


.tag-title{
    font-family: DinPro, sans-serif;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

.total{
    height: 1.6em;
    margin-left: .5em;
}

.tag-delete{
    font-size: 16px;
    margin: 0 1.2em 0 1.2em;
    text-decoration: underline;
}

.minus{
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.tag-box-middle{
    margin-top: 1em;
    margin-bottom: 1em;
}

.tag-box-middle > p{
    font-family: 'Literata', serif;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}


.tag-box-bottom{
    max-width: 24em;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1.5em;
}

.tag-box-bottom > button{
    padding: .4em .8em .7em .7em;
    margin: .5em .5em .5em .5em;
    font-family: 16px;
    border-radius: 15px;
    border-style: none;
    background-color: #E5E5E5;
    font-weight: light;
}

.tag-box-bottom > button:nth-of-type(2n+4){
    background-color: var(--yellow);
    font-weight: bold;
}

button > img{
    position: relative;
    top: 3px;
    right: 3px;
    padding-right: 0.2em;
}


.btn-more{
    display: block;
    margin: 0 auto;
    padding: .8em 4em .8em 4em;
    border-radius: 15px;
    font-size: 18px;
    color: var(--purple);
    background-color: #fff;
    border: 1px solid #634b6d4d;
}

/* -------- SECTION TOPICAL -------- */

.topical-box{
    min-height: 30em;
    max-width: 20.5em;
    margin: 0 auto;
}


.topical-title{
    text-align: center;
    margin: 1.5em;
    font-size: 24px;
}

.article-box1{
    min-height: 25em;
    border-radius: 10px;
    border: 1px solid rgba(220, 220, 220, 0.633);
    box-shadow:  0px 10px 22px -12px  rgba(0,0,0,0.4);
    margin-bottom: 2em;
}

.article-box1 > img{
    width: 100%;
}

.article-box1 > div{
    height: 6em;
    margin: 1em;
}


.topical-second-title{
    max-width: 14em;
    font-size: 24px;
}

.topical-subtitle{
    font-family: Literata, sans-serif;
    font-size: 16px;
    color: #86688f;
}

.topical-bottom-info{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 1em;
    color: black;
    font-family: DinPro-Bold;
    font-size: 16px;
}


/* Section Agenda */

.agenda{
    min-height: 28em;
    background-color: #F9F9E8;
    max-width: 20.6em;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2em;
}

.agenda-box{
    display: inline-block;
    margin: 1em;
}

.title-agenda{
    font-size: 32px;
    margin: 0;
}

.agenda-ul{
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

.agenda-date{
    background-color: #fff;
    display: flex;
    min-height: 5em;
    margin-bottom: 1em;
}

.date-text{
    margin: 1em;
    font-family: DinPro-Bold;
}

.agenda-btn{
    min-width: 14em;
    background-color: var(--purple);
    color: #fff;
    padding: .7em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border-style: none;
    border-radius: 15px;
}

.article-box2{
    min-height: 27em;
}

.product-price{
    display: inline-block;
}

.article-box3{
    min-height: 28.5em;
}

/* FOOTER */

ul{
    list-style: none;
}

.footer-top{
    display: inline-block;
    background-color: var(--purple);
    color: #fff;
    width: 100%;
}

.footer-list{
    margin-top: 0;
    padding-top: 1em;
}

.footer-top-title{
    font-size: 32px;
    margin: 0.3em 0 0.3em 0;
}

.footer-top-subtitle{
    font-family: Literata, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: 0.3em 0 0.3em 0;
}

.socials{
    margin-top: 1.5em;
}

.footer-bottom{
    background-color: #A68FAD;
    padding-bottom: 1em;
}

.footer-bottom-title{
    display: inline-block;
    margin: 0;
    padding-bottom: .5em;
    font-family: DinPro, sans-serif;;
}

/* CONTAINER QUERY */
.tag-box-top{
    container-name: tagbox;
    container-type: inline-size;
}

@container tagbox (min-width: 37.5em){
    
    .tag-box-content {
        width: 60%;
        padding: 0 2em 0 2em;
    }

}


/* Small screen 480px */
@media (min-width: 30em) {
    
    .tag-box-content {
        width: 80%;
        padding: 0 2em 0 2em;
    }

    .tag-box-bottom{
        max-width: 24em;
    }

}

/* Medium screen 768px */
@media (min-width: 48em) {

    /* SECTION TAGBOX */
    .tag-box-content {
        width: 60%;
        padding: 0 2em 0 2em;
    }

    .tag-box-bottom{
        max-width: 28em;
    }

    /* SECTION TOPICAL */

    .topical-box{
        max-width: 24em;
    }

    /* .topical-box > div{
        display: flex;
        flex-wrap: nowrap;
    } */
    .article-box1 {
        min-width: 24em;
    }


    /* SECTION AGENDA */

    .agenda{
        mIN-width: 24em;
    }


    .article-box2 {
        min-height: 28.5em;
    }

}

/* Large screen 1120px */
@media (min-width: 70em) {
    
    /* SECTION TOPICAL */
    .topical-box{
        max-width: 75%;
        min-height: 36em;

    }
    .topical-box > div{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 1em;
    }

    .agenda{
        max-width: 100%;
        min-height: 18em;
    }

    .title-agenda{
        padding-top: 1em;
    }

    .agenda-ul{
        display: flex;
        justify-content: center;
        flex-flow: row;
        max-width: none;
        gap: 3em;
    }

    .agenda-box{
        display: block;
        margin: 0 auto;
    }

    .title-agenda{
        text-align: center;
    }

    /* FOOTER */
    .footer-top{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    ul{
        display: flex;
        gap: 4em;
    }

}